.link {
    display: flex;
    width: fit-content;
    align-items: center;
    padding: 0 1.2rem 0;
    height: 2.8rem;
    background-color: var(--color-bg-accent-muted);
    color: var(--color-text-accent);
    border-radius: .6rem;
    font-family: var(--ff-accent);
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 350;
    text-decoration: none;
    transition: background-color .2s ease-in-out, transform .1s ease-in-out;
    
    &:hover {
        background-color: var(--color-bg-accent-muted--hover);
        transition: backgroud-color 0s ease-in-out, transform .1s ease-in-out;
    }
    &:active {
        transform: translateY(.05rem) scale(.98);
        transition: transform .0s;
    }
    &:focus {
        outline: .1rem solid var(--color-border-accent-muted);
    }
}