@import '../styles/index.scss';

:root {
    margin: 0 auto;
    font-size: 20px;
    padding: 0 3rem;
    max-width: 60rem;
    font-family: var(--ff-accent, var(--ff-system, sans-serif));
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);

    @include mobile-styles {
        padding: 0 1.2rem;
    }
}